{% extends "layout.html" %}
{% block body %}
<style>
  .h2{
    height:80px;
  }
  .h3{
    height:80px;
  }
  .section{
    height: 80px;
  }
.container{
  height: 100vh;
  overflow: hidden;
}
.row {
  height: calc(100% - 320px);
  position: relative;
}
.column {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
}
#left {
    float: left;
    width: 50%;
    overflow: auto;
}
#right {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
  height: 100%;
  content: "";
  display: table;
  clear: both;
}
.footer{
  height: 80px;
}




</style>

<div class="section bg-gray">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('root') }}">/ home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('collections') }}">collections</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ request.path }}">{{ dataset['name'] }}</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="column" id="left">
        <h2>Dataset: {{ dataset['name'] }}</h2>

        <p><span class="chip">Description: </span> {{ dataset['title'] }} </p>

        <h3>View</h3>

        <p><a href="{{ url_for('collections') }}{{ dataset['name'] }}/items">Browse though the features of the dataset
            (HTML page)</a></p>

        <h3>Links</h3>

        <p><a href="{{ url_for('collections') }}{{ dataset['name'] }}/items/?f=json">Get the CityJSON file
            (~FeatureCollection)</a></p>
    </div>
    <div class="column" id="right">
        <table class="table table-striped table-hover">

            <tr>
                <td>Bounding box transformed (EPSG:4326)</td>
                <td>{{ bounds }}</td>
            </tr>
            <tr>
                <td>Bounding box (EPSG:{{ crs }})</td>
                <td>{{ bounds_original }}</td>
            </tr>
            <tr>
                <td>Select bounding box</td>
                <td>
                    <div class="columns col-oneline">
                        <input class="form-input" type="text" id="epsg" placeholder="EPSG">
                        <button class="btn btn-primary">Confirm</button>

                    </div>

                    <div class="columns col-oneline">
                        <input class="form-input" type="text" id="minY" placeholder="minimum Y ">
                        <input class="form-input" type="text" id="minX" placeholder="minimum X">
                    </div>
                    <div class="columns col-oneline">
                        <input class="form-input" type="text" id="maxY" placeholder="maximum Y">
                        <input class="form-input" type="text" id="maxX" placeholder="maximum X">
                    </div>


                </td>
            </tr>
        </table>

        <br>
        <div  class="center">
            {% include 'visualise2d.html' %}

        </div>
    </div>
</div>


{% endblock %}